@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "NeueMachina";
  src: url("./fonts/NeueMachina-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "NeueMachina", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
